$metas: 'name', 'description', 'type', 'modifiers';

/// return the map without metas
@function meta-clean($map) {
  @each $meta in $metas {
    $map: map-remove($map, 'meta-#{$meta}');
  }
  @return $map;
}

/// return only the metas
@function meta-only($map) {
  $onlyMeta: ();
  @if is-map($map) {
    @each $key, $value in $map {
      @if str-index($key, 'meta-') {
        $onlyMeta: map-merge($onlyMeta, ($key: $value));
      }
    }
    @return $onlyMeta;
  } @else {
    @return 'It is not a map';
  }
}

@function meta-description-selector($text) {
  $replaced: str-replace($text, '.', ' ');

  @if (str-index($replaced, ' ') == 1) {
    $replaced: str-slice($replaced, 2, -1);
  }

  @return 'class="#{$replaced}';
}
