{
  "extends": [ "@marsbased/marstyle-stylelint" ],
  "rules": {
    "rule-empty-line-before": [
      "always-multi-line"
    ],
    "block-closing-brace-newline-after": [
      "always",
      "ignoreAtRules": ["if", "else"]
    ]
  }
}
