{
  "extends": [ "@marsbased/marstyle-stylelint" ],
  "rules": {
    "rule-empty-line-before": [
      "always-multi-line",
      except: ["after-single-line-comment", "first-nested"]
    ],
    "block-closing-brace-newline-after": [
      "always",
      "ignoreAtRules": ["if", "else"]
    ]
  }
}
