// marscss config
$mars-debug: false !default;
$mars-tests: false !default;
$mars-init: false !default;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:              $blue !default;
$border-color:         $gray-300 !default;
$color-font-base:      $black !default;
$color-link:           $primary !default;
$font-family-base:     sans-serif !default;
$font-weight-base:     normal !default;

$line-height-base:     1.5 !default;
$font-size:            1.6 !default;
$font-unit:            rem !default;
$font-margin:          2 + $font-unit !default;
$magic-number:         1.2 !default;

$font-size-base:       $font-size+$font-unit !default;
$font-size-small:      $font-size * pow($magic-number, -1) + $font-unit !default;
$font-size-large:      $font-size * pow($magic-number, 1) + $font-unit !default;
$font-size-lead:       $font-size * pow($magic-number, 5) + $font-unit !default;
$font-size-h1:         $font-size * pow($magic-number, 4) + $font-unit !default;
$font-size-h2:         $font-size * pow($magic-number, 3) + $font-unit !default;
$font-size-h3:         $font-size * pow($magic-number, 2) + $font-unit !default;
$font-size-h4:         $font-size-large !default;
$font-size-h5:         $font-size-base !default;
$font-size-h6:         $font-size-small !default;

$grid-columns:         12 !default;
$gutter:               3rem !default;
$grid-gutter-width:    $gutter !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;
