---
title: mars-build-elements
layout: documentation
active: Builders, mars-build-elements
example: builders/elements
---

# mars-build-elements

The idea of marscss is to avoid that we have to redefine the presentation of the markup depending on the semantic.

elements gives you a generic class to give the main appearances, The name of these classes coincide with the marking of HTML to simplify its use, allows you to enter a prefix to customize the name of those class.

Also use the extends to use it with the default markup on some elements such as a markdown container

since
: 1.0.0

core
: elements

arguments
: `$prefix: ''` *[string]*:

<%= source %>

## Examples

<% example_tabs do %>
<%= file_example_scss %>
<%= file_example_dist %>
<% end %>

<% example_html do %>
<div class="alert is-dismissible">
  <h1 class="mars-build-elements">This is an alert sample!</h1>
  <h2 class="mars-build-elements">This is an alert sample!</h2>
  <h3 class="mars-build-elements">This is an alert sample!</h3>
  <h3 class="mars-build-elements">This is an alert sample!</h3>
  <h4 class="mars-build-elements">This is an alert sample!</h4>
  <h5 class="mars-build-elements">This is an alert sample!</h5>
  <h6 class="mars-build-elements">This is an alert sample!</h6>
  <large class="mars-build-elements">This is an alert sample!</large>
  <small class="mars-build-elements">This is an alert sample!</small>

  You can add <a class="mars-build-elements" href="#"> view links </a> or texts with <strong>format</strong>
  <button class="btn-close"></button>
</div>
<% end %>

