---
title: mars-build-buttons
layout: documentation
active: Builders, mars-build-buttons
---

#mars-build-buttons

It generates buttons from a common block that extends% button, through scss map we generate the different buttons, its name and the specific rules

since
: 1.0.0

core
: buttons

arguments
: $prefix: **'btn-'**
: $extend: **'%button'**
: $buttons: **$buttons**
: $default: **$buttons-default**

###Default

<% example_tabs do %>
~~~scss
@include mars-build-buttons;
~~~

~~~css
/* EXTEND */
.btn-default, .btn-primary {
  padding: 0.5em;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  transition: color .2s ease-out, background-color .2s ease-out; }

/* ///////// 🚀 mars-build-buttons */
.btn-default {
  color: #fff;
  background-color: #868e96; }
  .btn-default:hover, .btn-default:focus, .btn-default:active {
    background-color: #555b61; }

.btn-primary {
  color: #fff;
  background-color: #dc3545; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #e4606d; }

~~~

<% example_html do %>
<button class="btn-primary">btn-primary</button>
<button class="btn-default">btn-default</button>
<% end %>
<% end %>


###Custom @extend

<% example_tabs do %>

~~~scss
// CUSTOM CORE
%button-sm {
  @include button(.5em 1em);
  font-size: $font-size-small;
}

// MARSCSS BUILDERS
@include mars-build-buttons('btn-sm-', '%button-sm');
~~~

~~~css
/* EXTEND */
.btn-sm-default, .btn-sm-primary {
  padding: 0.5em 1em;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  transition: color .2s ease-out, background-color .2s ease-out;
  font-size: 1.33333rem; }

/* ///////// 🚀 mars-build-buttons */
.btn-sm-default {
  color: #fff;
  background-color: #868e96; }
  .btn-sm-default:hover, .btn-sm-default:focus, .btn-sm-default:active {
    background-color: #555b61; }

.btn-sm-primary {
  color: #fff;
  background-color: #dc3545; }
  .btn-sm-primary:hover, .btn-sm-primary:focus, .btn-sm-primary:active {
    background-color: #e4606d; }

~~~

<% example_html do %>
<button class="btn-sm-primary">btn-sm-primary</button>
<button class="btn-sm-default">btn-sm-default</button>
<% end %>
<% end %>


###buttons theme

When generating the button theme, the system works from 2 [map scss](http://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps), one acts generating properties of the default theme $button-default and $buttons generates the different variations, both map merge processing the result, you can pass as a `false` value if we want the element not to launch the default value

When working on a button and having states the mixon buton-active has been created that encapsulates the selectors of the state and launches the styles of the active map.

~~~scss
$button-default:(
  'base': (
    color: $white,
    border: 1px solid $gray-600,
    background-color: $gray-600
  ),
  'active': (
    background-color: darken($gray-600, 10%)
  )
);

$buttons:(
  'default': (),
  'primary': (
    'base': (
      border: false,
      background-color: $primary
    ),
    'active': (
      background-color: darken($primary, 10%)
    )
  )
);
~~~
