---
title: mars-build-reset
layout: documentation
active: Builders, mars-build-reset
example: builders/mars-build-reset
---

#mars-build-reset

This builder is responsible for restarting the default styles of browsers, unlike normalize.css we do not look for everyone to have the same appearance but we seek to eliminate the appearance of the default markup.

The idea of marscss is to avoid that we have to redefine the presentation of the markup depending on the semantic, if there are elements that require using a label linked to the labeling we have the builder mars-build-fonts-html that can be assigned to a class or extend a specific selector.

since
: 1.0.0

core
: reset

size compiled
: <%= file_dist_size %> not minified

<%= source %>

<div class="alert">
It is added by default when launching <code>mars-init</code> as long as it is not passed as an argument false
</div>

<% example_tabs do %>
<%= file_example_scss %>
<%= file_example_dist %>
<% end %>
