@mixin mars-alert (
  $color: $warning,
  $bg: rgba($warning, .04),
  $padding: $gutter/2
) {
  @include log('🛸 mars-alert');
  padding: $padding;
  color: $color;
  background-color: $bg;
  border: 1px solid;
  border-radius: $border-radius;
  @include text-block;

  &.is-dismissible {
    position: relative;
    padding-right: $gutter;
  }

  a {
    color: inherit;
    border-bottom: 1px solid;

    &:hover {
      color: inherit;
    }
  }
}

$mars-alerts: (
  '': (),
  '-warning': (
    background-color: $warning,
    border-color: $warning,
    color: $white
  ),
  '-success': (
    background-color: $success,
    border-color: $success,
    color: $white,
  )
) !default;
