@mixin mars-alert(
  $bg: $primary,
  $color: $white,
  $padding: $grid-gutter-width/2,
  $margin: 0 0 $grid-gutter-width/2,
  $__close: false,
  $close-padding: calc(#{$grid-gutter-width/2} + 1em)
){
  @include log("🚀 mars-alert");

  @include mars-alert-root($bg, $color, $padding, $margin);

  @if ($__close != false){
    position: relative;
    padding-right: calc(#{$padding} + 1em);

    &#{$__close}{
      @include mars-alert-close;
    }
  }
}

@mixin mars-alert-root($bg, $color, $padding, $margin){
  padding: $padding;
  margin: $margin;
  color: $color;
  background-color: $bg;
}

@mixin mars-alert-close(
  $color: inherit,
  $distance: $grid-gutter-width/2,
  $transition: transform .2s ease-out
){
  position: absolute;
  top: $distance;
  right: $distance;
  color: $color;
  cursor: pointer;
  transition: $transition;

  &:hover {
    transform: scale(1.1);
  }
}
