@mixin mars-card(
  $background: $white,
  $padding: $grid-gutter-width/2,
  $border: 1px solid $border-color,
  $border-radius: false,
  $__content: __content,
  $__image: __image,
  $__header: __header,
  $__footer: __footer
) {
  @include mars-card-root(
    $background,
    $padding,
    $border,
    $border-radius);

  @if ($__content != false) {
    &#{$__content} {
      @include mars-card-content($padding);
    }
  }

  @if ($__header != false) {
    &#{$__header} {
      @include mars-card-header($padding, $border);
    }
  }

  @if ($__image != false) {
    &#{$__image} {
      @include mars-card-image($border-radius);
    }
  }

  @if ($__footer != false) {
    &#{$__footer} {
      @include mars-card-footer($border, $border-radius);
    }

    &#{$__footer}-item {
      @include mars-card-footer-item($padding, $border, $border-radius);
    }
  }
}

@mixin mars-card-root(
  $background: $white,
  $padding: $grid-gutter-width/2,
  $border: 1px solid $border-color,
  $border-radius: false
) {
  position: relative;
  background: $background;
  border: $border;
  border-radius: $border-radius;
}

@mixin mars-card-content ($padding: false) {
  @include last-margin-0;
  @if ($padding != false) {
    margin: $padding;
  }
}

@mixin mars-card-header ($padding: false, $border: false) {
  display: flex;
  align-items: stretch;
  @if ($border != false) {
    border-bottom: $border;
  }
  @if ($padding != false) {
    margin: $padding;
  }
}

@mixin mars-card-image ($border-radius: false) {
  position: relative;
  background-color: $gray-300;
  @if ($border-radius != false) {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    * {
      border-radius: inherit;
    }
  }
}

@mixin mars-card-footer ($border: false, $border-radius: false) {
  display: flex;
  align-items: stretch;
  @if ($border != false) {
    border-top: $border;
  }
  @if ($border-radius != false) {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
}

@mixin mars-card-footer-item (
  $padding: false,
  $border: false,
  $border-radius: false
) {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: center;

  @if ($padding != false) {
    padding: $padding;
  }

  @if ($border != false) {
    &:not(:first-of-type) {
      border-left: $border;
    }
  }

  @if ($border-radius != false) {
    &:first-child {
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      border-bottom-right-radius: $border-radius;
    }
  }
}
