@mixin mars-badge {
  @include log('🛸 mars-badge');
  position: relative;
  top: -1px;
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

$mars-badges: (
  '': (
    background-color: $white,
    color: $black
  ),
  '-primary': (
    background-color: $primary, color: $white
  ),
  '-warning': (
    background-color: $warning, color: $white
  ),
  '-success': (
    background-color: $success, color: $white
  )
) !default;
