//stylelint-disable block-no-empty

@mixin html {
  height: 100%;
  font-size: 62.5%; // Now 10px = 1rem!
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

@mixin body {
  min-width: 320px;
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-font-base;
}

@mixin a {
  color: $color-link;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  transition: border .3s ease-out, color .3s ease-out;

  &:hover,
  &:focus {
    color: darken($color-link, 20%);
    border-bottom-color: currentColor;
  }
  @include extend-a;
}
@mixin extend-a {}

@mixin common-headings {
  margin-bottom: 1rem;

  &:not(:first-child){
    margin-top: 1em;
  }
}

@mixin lead {
  font-size: $font-size-lead;
  font-weight: 400;
  line-height: 1;
  @include common-headings;
  @include extend-lead;
}
@mixin extend-lead {}

@mixin h1 {
  font-size: $font-size-h1;
  font-weight: 400;
  line-height: 1;
  @include common-headings;
  @include extend-h1;
}
@mixin extend-h1 {}

@mixin h2 {
  font-size: $font-size-h2;
  font-weight: 400;
  line-height: 1;
  @include common-headings;
  @include extend-h2;
}
@mixin extend-h2 {}

@mixin h3 {
  font-size: $font-size-h3;
  font-weight: 800;
  line-height: 1.2;
  @include common-headings;
  @include extend-h3;
}
@mixin extend-h3 {}

@mixin h4 {
  font-size: $font-size-h4;
  font-weight: 800;
  @include common-headings;
  @include extend-h4;
}
@mixin extend-h4 {}

@mixin h5 {
  font-size: $font-size-h5;
  font-weight: 800;
  @include common-headings;
  @include extend-h5;
}
@mixin extend-h5 {}

@mixin h6 {
  font-size: $font-size-h6;
  font-weight: 800;
  @include common-headings;
  @include extend-h6;
}
@mixin extend-h6 {}

@mixin common-block{
  margin-top: 0;
  margin-bottom: $font-margin;
}

@mixin large{
  font-size: $font-size-large;
  line-height: $line-height-base;
  @include common-block;
  @include extend-large;
}
@mixin extend-large{}

@mixin small{
  font-size: $font-size-small;
  @include common-block;
  @include extend-small;
}
@mixin extend-small{}

@mixin ul{
  padding-left: 1.5em;
  list-style-type: disc;
  @include common-block;

  ul {
    margin-bottom: 0;
  }

  @include extend-ul;
}
@mixin extend-ul {}

@mixin ol{
  padding-left: 1.5em;
  list-style-type: decimal;
  @include common-block;
  @include extend-ol;

  ol {
    margin-bottom: 0;
  }

  @include extend-ol;
}
@mixin extend-ol {}

@mixin dl{
  @include common-block;
  @include extend-dl;
}
@mixin extend-dl {}

@mixin dd{
  @include common-block;
  @include extend-dd;
}
@mixin extend-dd {}

@mixin dt{
  @include common-block;
  @include extend-dt;
}
@mixin extend-dt {}

@mixin li {
  @include extend-li;
  margin-bottom: .25em;
}
@mixin extend-li {}

@mixin p{
  @include extend-p;
  @include common-block;
}
@mixin extend-p {}

@mixin blockquote{
  max-width: 600px;
  padding-left: 1em;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  font-size: $font-size-large;
  font-weight: 800;
  border-left: 4px solid $primary;
  @include extend-blockquote;
}
@mixin extend-blockquote {}

@mixin fs-1{ font-size: $font-size-h1; }
@mixin fs-2{ font-size: $font-size-h2; }
@mixin fs-3{ font-size: $font-size-h3; }
@mixin fs-4{ font-size: $font-size-h4; }
@mixin fs-5{ font-size: $font-size-h5; }
@mixin fs-6{ font-size: $font-size-h6; }
@mixin fs-large{ font-size: $font-size-h5; }
@mixin fs-small{ font-size: $font-size-h6; }
