@mixin mars-alert(
  $bg: $primary,
  $color: $white,
  $padding: $grid-gutter-width/2,
  $__close: false,
  $close-padding: calc(#{$grid-gutter-width/2} + 1em),
  $__header: false,
  $__footer: false){

  padding: $padding;
  color: $color;
  background-color: $bg;

  @if ($__close != false){
    position: relative;
    padding-left: calc(#{$padding} + 1em);

    &__close{
      position: absolute;
      top: $grid-gutter-width/2;
      right: $grid-gutter-width/2;
      color: inherit;
      cursor: pointer;
      transition: transform .2s ease-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
