<% add_layout_data(:active, 'documentation') %>

<% wrap_layout :layout do %>
  <div class="wrapper">
    <div class="documentation-menu">
      <%= partial 'partials/sidebar-menu' %>
    </div>
    <div class="documentation-content html-content"
     data-headings-add-anchor data-anchors-menu>
      <%= yield %>
    </div>
    <div class="documentation-anchors">
      <ul class="anchors-menu">
        
      </ul>
    </div>
  </div>
<% end %>
