<footer class="footer">
  <div class="footer__container">
    <div class="footer__copyright">
      © Copyright 2018, Marsbased S.L.
    </div>
    <a href="#top" class="footer__top-page">
      <i class="fa fa-angle-up" aria-hidden="true"></i>
    </a>
  </div>
</footer>