<header class="header">
  <div class="header__container">
    <h1 class="header__logo">
      <%= link_to 'marscss', '/' %>
    </h1>
    <nav class="header__menu">
      <%= link_to 'Home', '/',
        class: active('home') %>
      <%= link_to 'Documentation', '/documentation',
        class: active('documentation') %>
    </nav>
  </div>
</header>
