<header class="header">
  <div class="header__container">
    <button class="header__hamburger" data-open-menu>
      <span class="icon-hamburger"></span>
    </button>
    <% link_to '/', class: 'header__logo' do %>
      <%= partial 'partials/logo' %>
    <% end %>
    <nav class="header__menu">
      <% link_to '/documentation', class: "btn-doc #{active('documentation')}" do %>
        <%= svg('icon-doc') %>
      <% end %>
      <% link_to 'https://github.com/MarsBased/marscss', class: 'btn-github',
       target: '_blank' do %>
        <%= svg('icon-github') %>
      <% end %>
    </nav>
  </div>
</header>
