//stylelint-disable rule-empty-line-before,
//stylelint-disable selector-max-type
//stylelint-disable max-nesting-depth
//stylelint-disable selector-max-compound-selectors
body.documentation {
  .wrapper {
    @extend %container;
    @extend %row;
  }

  .documentation-menu {
    padding-top: $gutter*2;
    padding-bottom: $gutter*2;
    @extend %grid-column;
    @include media-breakpoint-up('sm') {
      @include make-col(3);
    }
  }

  .documentation-content {
    padding-top: $gutter*2;
    padding-bottom: $gutter*2;
    @extend %grid-column;
    @include media-breakpoint-up('sm') {
      flex: 1 1 0;
      max-width: 800px;
    }

    @extend %raw-html-styles;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      a {
        position: relative;
        color: inherit;
        border-bottom: 0;
        transition: color .3s ease-out;

        &:hover,
        &:focus {
          color: $primary;

          &::before {
            opacity: 1;
          }
        }

        &::before {
          position: absolute;
          left: -.8em;
          padding-right: .8em;
          content: '#';
          opacity: 0;
          transition: opacity .3s ease-out;
        }
      }
    }

    dt {
      margin-top: .5em;
      font-weight: 800;
      @include fs-h5;
    }

    dd {
      margin-bottom: 0;
    }
  }

  .documentation-example {
    padding: $gutter/2;
    border: 2px solid $gray-200;
    @include text-block;
    @include last-margin-0;

    .row {
      @extend %row;
    }

    .col {
      @extend %grid-column;
      flex: 1 1 0;
    }
  }

  .box {
    width: 100px;
    height: 100px;
    background-color: rgba($primary, .5);
  }

  //http://localhost:4567/documentation/components/alerts
  .alert {
    @include mars-alert;
  }

  .alert-info {
    @include mars-alert($teal, $gray-800);
  }

  .alert-warning {
    @include mars-alert($yellow, $gray-800);
  }
}
