//stylelint-disable rule-empty-line-before,
//stylelint-disable selector-max-type
//stylelint-disable max-nesting-depth
//stylelint-disable selector-max-compound-selectors
body.documentation {
  .wrapper {
    display: flex;
  }

  %sidebar-columns {
    flex: 0 0 260px;
    padding-top: $gutter;
  }

  .documentation-anchors {
    @extend %sidebar-columns;
    @include media-breakpoint-down('lg') {
      display: none;
    }
    color: $gray-600;
    .anchors-menu {
      position: sticky;
      top: 0;
      max-height: 100vh;
      padding: $gutter $gutter $gutter;
      overflow-y: auto;
    }

    a {
      &:hover {
        color: $gray-800;
      }
      &::before {
        color: $gray-400;
        content: '- ';
      }
    }

    @for $i from 2 through 6 {
      .anchor-h#{$i}{
        padding-left: ($i - 2) * .5em;
      }
    }
  }

  %dt {
    margin-top: .5em;
    font-weight: 800;
    @include fs-h5;
  }

  .documentation-menu {
    @extend %sidebar-columns;
    position: relative;

    @include media-breakpoint-down('md') {
      display: none;
    }

    .sidebar-menu {
      position: sticky;
      top: 0;
      max-height: 100vh;
      padding: $gutter $gutter $gutter;
      overflow-y: auto;
    }
  }

  .documentation-source {
    margin-bottom: 1rem;

    strong {
      @extend %dt;
    }
  }

  .documentation-content {
    flex: 1 1 auto;
    width: 500px;
    max-width: 100%;
    padding: $gutter*2 $gutter;

    > {
      h1, h2, h3, h4 {
        &:not(:first-child) {
          margin-top: 3em;
        }
        &::before {
          display: block;
          height: 3rem;
          margin-top: -3rem;
          visibility: hidden;
          content: '';
        }
      }
    }

    dt {
      @extend %dt;
    }

    dd {
      margin-bottom: 0;
      code ~ em {
        @extend code;
        padding: 0;
      }
    }
  }

  .documentation-example {
    padding: $gutter/2;
    border: 2px dashed $gray-200;
    @include text-block;
    @include last-margin-0;

    .row {
      @extend %row;
    }

    .col {
      @extend %grid-column;
      flex: 1 1 0;
    }
  }

  .box {
    width: 100px;
    height: 100px;
    background-color: rgba($primary, .5);
  }

  .container-20em {
    @include last-margin-0;
    max-width: 20em;
    margin: auto;
  }
}

