body.home {
  .hero {
    color: $white;
    background-color: $black;

    &__title {
      font-weight: 300;
      text-shadow: 0 0 1rem rgba($black, .3);
      opacity: 0;
      animation: 5s ease-out 2s home-fade;
      animation-fill-mode: forwards;

      strong {
        font-weight: 400;
      }
    }

    &__text {
      text-shadow: 0 0 .5rem rgba($black, .5);
      opacity: 0;
      animation: 6s ease-out 6s home-fade;
      animation-fill-mode: forwards;
    }

    &__background {
      position: relative;
      overflow: hidden;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        background-image: image-url("mars.png");
        background-position-y: 0;
        background-size: 100% auto;
        transform: translateY(100%);
        animation: 24s ease-out home-mars;
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes home-title {
  0% {
    opacity: 0;
    transform: translateY(50%) scale(2);
  }

  40% {
    transform: translateY(0) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes home-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes home-mars {
  0% { transform: translateY(100%);}

  100% { transform: translateY(0%); }
}
