@import '../marscss';

@import '../blocks/hero-block';
@import '../blocks/hero-space';

#home-install {
  background-image: linear-gradient(to top right, $gray-100, $gray-200);
}

#home-cassete {
  color: $white;
  background-image: linear-gradient(to top right, $primary, lighten($orange, 10%));

  svg {
    display: block;
    width: 100%;
    max-width: 360px;
    margin: auto;
    color: darken($primary, 20%);
    transition: color 2s ease-out;
  }

  &.on-screen svg {
    color: $primary;

    #coil1 {
      transform-origin: 27.8% 40.8%;
      animation: RotateCoil 7s linear 1s infinite;
    }

    #coil2 {
      transform-origin: 70.6% 40.8%;
      animation: RotateCoil 7s linear 1s infinite;
    }
  }
}

@keyframes RotateCoil {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359.99deg);
  }
}
