---
title: helpers
layout: documentation
active: helpers()
anchors_menu: '> h2'
---

## helpers

since
: 1.0.0

Add all the marscss helpers and pass their arguments

~~~scss
@include style(helpers());
~~~


## customize helpers

You have a group of variables within default-variables to adjust the prefixes and colors of the helpers globally.

<%= code_snippet('helpers',
                 "#{config.marscss_path}/core/_default-variables.scss") %>


## helpers-align

since
: 1.0.0

arguments
: `$prefix`: `$prefix-helper-align` *[string]*

Add all the helpers that have to do with alignments of the text

~~~scss
@include style(helpers-align());
~~~

### align-baseline

since
: 1.0.0

<% example_html do %>
<span>Normal</span>
<span class="align-baseline">align-baseline</span>
<% end %>


### align-top

since
:1.0.0

<% example_html do %>
<span>Normal</span>
<span class="align-top">align-top</span>
<% end %>


### align-middle

since
:1.0.0

<% example_html do %>
<span>Normal</span>
<span class="align-middle">align-middle</span>
<% end %>


### align-bottom

since
:1.0.0

<% example_html do %>
<span>Normal</span>
<span class="align-bottom">align-bottom</span>
<% end %>


### align-text-bottom

since
:1.0.0

<% example_html do %>
<span>Normal</span>
<span class="align-text-bottom">align-text-bottom</span>
<% end %>


###align-text-top

since
:1.0.0

<% example_html do %>
<span>Normal</span>
<span class="align-text-top">align-text-top</span>
<% end %>


## helpers-bg

since
: 1.0.0

arguments
  : `$prefix`: `$prefix-helper-bg` *[string]*
  : `$colors`: `$helper-bg-colors` *[(string: color)]*
  : `$transparent`: `$helper-bg-colors-transparent` *[false|string]*

Modify the background color

~~~scss
@include style(helpers-bg());
~~~

<% example_html do %>
<div class="box bg-primary"></div>
<% end %>


## helpers-border

since
: 1.0.0

arguments
  : `$prefix`: `$prefix-helper-border` *[string]*
  : `$colors`: `$helper-border-colors` *[(name: color)]*

Add a set of helpers to work the borders of elements

<% example_html do %>
<div class="box border"></div>
<% end %>


### border-0

since
: 1.0.0

<% example_html do %>
<div class="box border-0"></div>
<% end %>


### border-top

since
: 1.0.0

<% example_html do %>
<div class="box border-top"></div>
<% end %>


### border-right

since
: 1.0.0

<% example_html do %>
<div class="box border-right"></div>
<% end %>


### border-bottom

since
: 1.0.0

<% example_html do %>
<div class="box border-bottom"></div>
<% end %>


### border-left

since
: 1.0.0

<% example_html do %>
<div class="box border-left"></div>
<% end %>


### border-color

since
: 1.0.0

<% example_html do %>
<div class="box border border-gray"></div>
<% end %>


## helpers-color

since
: 1.0.0

arguments
  : `$prefix`: `$prefix-helper-colors` *[string]*
  : `$colors`: `$helper-colors` *[(string: color)]*
  : `$transparent`: `$helper-colors-inherit` *[false|string]*

Add text colors for each color of `$helper-colors`

~~~scss
@include style(helpers-color());
~~~

<% example_html do %>
<div>Hello <span class="color-primary">World</span> !</div>
<% end %>


## helpers-columns

since
: 1.0.0

arguments
  : `$prefix`: `$prefix-helper-columns` *[string]*
  : `$sizes`: `$helper-columns-sizes` *[(name: size)]*

Add a helper for the containers to work your children as columns of the same size from a certain size

~~~scss
@include style(helpers-columns());
~~~

<% example_html do %>
<div class="columns-sm">
  <div>1</div>
  <div>2</div>
  <div>3</div>
</div>
<div class="columns-md">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<% end %>


## helpers-display

since
: 1.0.0

arguments
  : `$prefix`: `$prefix-helper-display` *[string]*

Add helpers for each of the display properties

~~~scss
@include style(helpers-display());
~~~

### display-block

since
: 1.0.0

<% example_html do %>
<span>Hello World</span>
<span>Hello World</span>
<span class="block">Hello World</span>
<span>Hello World</span>
<span>Hello World</span>
<% end %>


### display-flex

since
: 1.0.0

<% example_html do %>
<div class="display-flex">
  <div class="box">organize</div>
  <div class="box">your</div>
  <div class="box">boxes</div>
</div>
<% end %>


### display-inline

since
: 1.0.0

<% example_html do %>
<div>block</div>
<div class="display-inline">inline</div>
<div class="display-inline">inline</div>
<div>block</div>
<% end %>


### display-inline-block

since
: 1.0.0

<% example_html do %>
<div>block</div>
<div class="display-inline-block">inline-block</div>
<div class="display-inline-block">inline-block</div>
<div>block</div>
<% end %>


### display-inline-flex

since
: 1.0.0

<% example_html do %>
<div class="display-inline-flex">
  <div class="box">organize</div>
  <div class="box">your</div>
  <div class="box">boxes</div>
</div>
<% end %>


### display-none

since
: 1.0.0

<% example_html do %>
<div>now you see Me</div>
<div class="display-none">Now you do not see me</div>
<% end %>


### display-table

since
: 1.0.0

<% example_html do %>
<div class="display-table">table</div>
<% end %>


### display-table-cell

since
: 1.0.0

<% example_html do %>
<div class="display-table">
  <div class="display-table-cell">cell</div>
  <div class="display-table-cell">cell</div>
  <div class="display-table-cell">cell</div>
</div>
<% end %>


## helpers-fs

since
: 1.0.0

arguments
  : `$prefix`: `$prefix-helper-fs` *[string]*

Add a set of helpers to control the text size

~~~scss
@include style(helpers-fs());
~~~


### fs-hero

since
: 1.0.0

<% example_html do %>
<div class="fs-hero">fs-hero</div>
<% end %>


###fs-h1

since
: 1.0.0

<% example_html do %>
<div class="fs-h1">fs-h1</div>
<% end %>


###fs-h2

since
: 1.0.0

<% example_html do %>
<div class="fs-h2">fs-h2</div>
<% end %>


###fs-h3

since
: 1.0.0

<% example_html do %>
<div class="fs-h3">fs-h3</div>
<% end %>


###fs-h4

since
: 1.0.0

<% example_html do %>
<div class="fs-h4">fs-h4</div>
<% end %>


###fs-h5

since
: 1.0.0

<%example_html do %>
<div class="fs-h5">fs-h5</div>
<% end %>


###fs-h6

since
: 1.0.0

<%example_html do %>
<div class="fs-h6">fs-h6</div>
<% end %>


###fs-large

since
: 1.0.0

<%example_html do %>
<div class="fs-large">fs-large</div>
<% end %>


###fs-small

since
: 1.0.0

<%example_html do %>
<div class="fs-small">fs-small</div>
<% end %>



## helpers-pull

since
: 1.0.0

arguments
  : `$prefix`: `$prefix-helper-pull` *[string]*

Add a set of helpers to work with elements with float

~~~scss
@include style(helpers-pull());
~~~

### pull-clear

since
: 1.0.0

<% example_html do %>
<div>
  <div class="box pull-left"></div>
  Qui praesentium in et enim amet possimus voluptas asperiores omnis ad non assumenda repellendus eos sapiente et blanditiis est explicabo
  <br class="pull-clear">
</div>
<% end %>

### pull-left

since
: 1.0.0

<% example_html do %>
<div>
  <div class="box pull-left"></div>
  Qui praesentium in et enim amet possimus voluptas asperiores omnis ad non assumenda repellendus eos sapiente et blanditiis est explicabo
</div>
<% end %>


### pull-right

since
: 1.0.0

<% example_html do %>
<div>
  <div class="box pull-right"></div>
  Qui praesentium in et enim amet possimus voluptas asperiores omnis ad non assumenda repellendus eos sapiente et blanditiis est explicabo
</div>
<% end %>


## helpers-text

since
: 1.0.0

arguments
  : `$prefix`: `$prefix-helper-text` *[string]*

Add helpers to control the properties that have to do with the text as the alignment or capitalize

~~~scss
@include style(helpers-text());
~~~

###text-center

since
: 1.0.0

<% example_html do %>
<div class="text-center">text-center</div>
<% end %>


###text-left

since
: 1.0.0

<% example_html do %>
<div class="text-left">text-left</div>
<% end %>


###text-right

since
: 1.0.0

<% example_html do %>
<div class="text-right">text-right</div>
<% end %>


###text-capitalize

since
: 1.0.0

<% example_html do %>
<span>normal</span>
<span class="text-capitalize">text-capitalize</span>
<% end %>


###text-lowercase

since
: 1.0.0

<% example_html do %>
<span>normal</span>
<span class="text-lowercase">TEXT-LOWERCASE</span>
<% end %>


### text-uppercase

since
: 1.0.0

<% example_html do %>
<span>normal</span>
<span class="text-uppercase">text-uppercase</span>
<% end %>


### text-nowrapp

since
: 1.0.0

<% example_html do %>
<div class="box text-nowrapp">
  you can not put fences in the mountain
</div>
<% end %>


###text-truncate

since
: 1.0.0


<% example_html do %>
<div class="box text-truncate">
  that you have something to hide?
</div>
<% end %>



###text-hide

since
: 1.0.0

<% example_html do %>
<span>normal</span>
<span class="text-hide">buuuuuuuuuuuhhhh</span>
<% end %>


## helper-utilities

since
: 1.0.0

arguments
  : `$prefix`: `$prefix-helper-utilities` *[string]*

Adds a set of helpers included in utilities

#### last-margin-0

since
: 1.0.0

<% example_html do %>
<div class="last-margin-0">
  <p>margin bottom</p>
  <p>WUOWWWWW</p>
</div>

<% end %>


### sr-only

since
: 1.0.0

<% example_html do %>
<div class="sr-only">sr-only</div>
<% end %>
