---
title: Getting started
layout: documentation
active: Documentation, getting-started
---

# How to generate a component

The great advantage of working with *marscss* is the possibility of working with our css as if we were working on objects, separating the different modifications into maps, this allows us to extend and modify existing objects.

Let's see 2 examples the first one is quite basic, we will see how to extend from the buttons of marscss, to a new button with icon for social networks.

## Creating buttons from other buttons

### Step 1

we are going to use the mars-button that we already have as a base, currently has this apaarience.

<% example_html do %>
<a href="" class="btn-primary">btn-primary</a>
<a href="" class="btn-white">btn-white</a>
<a href="" class="btn-default">btn-default</a>
<% end %>

