---
title: reset
layout: documentation
active: reset()
anchors_menu: '> h2, > h3'
---

# reset

Add a reset to the html tags and add tools to control the reset of the element styles.

since
: 1.0.0

arguments
: `$prefix`: `$prefix-reset` *[string]*: this is added to the beginning of selectors.

Add all the marscss elements with $prefix by default '.'

~~~scss
@include style(reset());
~~~

## How does it work

By default marscss is designed to work adding generic styles to html tags, this is done by `elements` in an invisible way if we use` @include marscss`

This is very comfortable because it saves us from having to give classes to tags like headers or links, but sometimes it can give us headaches, that's why marscss attaches a set of tools to simplify this task and eliminate the styles of the elements that do not we want you to have those styles.

### Example without reset

<% example_tabs do %>
<% example_html do %>
<h1>Heading H1</h1>
<p>Ipsa quia quidem soluta aut <a href="#">link</a> illum eaque provident consequatur</p>
<h2>Heading H2</h2>
<ul>
  <li>Rosalyn Jakubowski</li>
  <li>Felicita Olson</li>
  <li>Eliezer Hamill III</li>
</ul>
<% end %>
<% end %>


### Example with reset-all

We have the possibility to add the class `.reset-all` to a container to reset the styles of `elements()`.

You can edit the variable `$reset-all` if you want to change the name

<% example_tabs do %>
<% example_html do %>
<div class="reset-all">
  <h1>Heading H1</h1>
  <p>Ipsa quia quidem soluta aut <a href="#">link</a> illum eaque provident consequatur</p>
  <h2>Heading H2</h2>
  <ul>
    <li>Rosalyn Jakubowski</li>
    <li>Felicita Olson</li>
    <li>Eliezer Hamill III</li>
  </ul>
</div>
<% end %>
<% end %>


### Example reset tags

In marscss we attach the class `.reset` to clean the styles of the tags.

If you want to modify the name you can rewrite the value of the `$reset` variable.

<% example_tabs do %>
<% example_html do %>
  <h1 class="reset">Heading H1</h1>
  <p>Ipsa quia quidem soluta aut <a class="reset" href="#">link</a> illum eaque provident consequatur</p>
  <h2>Heading H2</h2>
  <ul>
    <li class="reset">Rosalyn Jakubowski</li>
    <li>Felicita Olson</li>
    <li>Eliezer Hamill III</li>
  </ul>
<% end %>
<% end %>


## You can use extend and customize your rules

You can use the reset extends to directly clean the elements when creating the styles of the components.

You can override the reset functions if you want to add or modify those rules, as long as we modify the core it is important that this modification is done before loading the builders
