@import '../../../../marscss/marscss';
$mars-debug: true;

%example-extend {
  font-weight: 700;
  background-color: $white;
}

@include mars-build-component(
  $prefix: '.example-component',
  $extend: '%example-extend',
  $elements: (
    '-white': (
      color: $white
    ),
    '-gray': (
      color: $gray-500
    ),
    '-black': (
      color: $black,
      '&:hover':(
        background-color: $gray-500
      )
    )
  ),
  $default: (
    '&:hover': (
      background-color: $black
    )
  )
);

@include mars-build-component(
  $elements: (
    '.btn': (
      color: $green,
      '&:hover': (
        color: lighten($green, 10%)
      ),
      '&:active, &.is-active': (
        color: lighten($green, 20%)
      )
    )
  )
);