---
title: mars-spinner
layout: documentation
active: Components, mars-spinner
example: components/spinner
---

# mars-spinner

Spinner for loaders created in a svg inserted as base 64 assigning color and animation from the mixin.

since
: 1.0.0

arguments
: `$color:` *(color)* : color spinner
: `$font-size: 5rem` *(number)* : size spinner


<%= source %>


## SCSS Code

<% example_tabs do %>
<%= file_example_scss %>
<%= file_example_dist %>
<% end %>


## Basic example

<% example_html do %>
<div class="spinner"></div>
<% end %>


## larger with color change

<% example_html do %>
<div class="spinner-big-gray"></div>
<% end %>
