---
title: mars-button-close
layout: documentation
active: Components, mars-button-close
example: components/button-close
---

# mars-button-close

The component serves to close the containers or forms, this element is always found in elements of the container type.

since
: 1.0.0

<%= source %>


## Exemples

<% example_tabs do %>
<%= file_example_scss %>
<%= file_example_dist %>
<% end %>


### Alert with button close

<% example_html do %>
<div class="alert is-dismissible">
  <h4>This is an alert sample!</h4>
  You can add <a href="#">links</a> or texts with <strong>format</strong>
  <button class="button-close"></button>
</div>
<% end %>