---
title: mars-search
layout: documentation
active: Components, mars-search
---

# mars-search

This component is added to an input to give it the appearance of a search field, to generate the icon it works with svg in base 64 which allows us to overwrite the color of that icon.

since
: 1.0.0

extend
: `%form-element`

arguments
: `$bg: $gray-300` *(color)*: background color
: `$color: $gray-800` *(color)* : icon color

<% example_html do %>
<div class="container-20em">
  <p>
    <input class="search" id="search" name="s">
  </p>
  <p>
    <input class="search" id="search" name="s" placeholder="search...">
  </p>
</div>
<% end %>
<% example_tabs do %>
~~~scss
@mixin mars-search(
  $bg: $gray-300,
  $color: $gray-800
) {
  @include log('🛸 mars-search');
  @extend %form-element;
  padding-left: 2em;
  background-color: $bg;
  background-image: url('data:image/svg+xml;utf8,<svg width="10px" height="10px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="icon-search" fill="'+$color+'"><path d="M5.67195116,9.63410288 C3.50117577,9.63410288 1.74153209,7.86796818 1.74153209,5.68918518 C1.74153209,3.51040218 3.50117577,1.7435172 5.67195116,1.7435172 C7.84272655,1.7435172 9.60237024,3.51040218 9.60237024,5.68918518 C9.60237024,7.86796818 7.84272655,9.63410288 5.67195116,9.63410288 M12.8906763,12.3598324 L9.25851463,8.69176423 C9.93576067,7.87847195 10.3439023,6.83184582 10.3439023,5.68918518 C10.3439023,3.09925442 8.25236323,1 5.67195116,1 C3.0915391,1 1,3.09925442 1,5.68918518 C1,8.27836566 3.0915391,10.3783704 5.67195116,10.3783704 C6.84405027,10.3783704 7.9129927,9.94171343 8.73301356,9.2259562 L12.3621852,12.8902731 C12.5079501,13.0365756 12.7449115,13.0365756 12.8906763,12.8902731 C13.0364412,12.7439705 13.0364412,12.506135 12.8906763,12.3598324" id="Loupe"></path></g></g></svg>');
  background-position-x: .7rem;
  background-size: 1em;

  &:focus {
    background-color: $white;
  }
}
~~~

~~~css
.search {
  /* ///////// 🛸 mars-search */
  padding-left: 2em;
  background-color: #dee2e6;
  background-image: url('data:image/svg+xml;utf8,<svg width="10px" height="10px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="icon-search" fill="#343a40"><path d="M5.67195116,9.63410288 C3.50117577,9.63410288 1.74153209,7.86796818 1.74153209,5.68918518 C1.74153209,3.51040218 3.50117577,1.7435172 5.67195116,1.7435172 C7.84272655,1.7435172 9.60237024,3.51040218 9.60237024,5.68918518 C9.60237024,7.86796818 7.84272655,9.63410288 5.67195116,9.63410288 M12.8906763,12.3598324 L9.25851463,8.69176423 C9.93576067,7.87847195 10.3439023,6.83184582 10.3439023,5.68918518 C10.3439023,3.09925442 8.25236323,1 5.67195116,1 C3.0915391,1 1,3.09925442 1,5.68918518 C1,8.27836566 3.0915391,10.3783704 5.67195116,10.3783704 C6.84405027,10.3783704 7.9129927,9.94171343 8.73301356,9.2259562 L12.3621852,12.8902731 C12.5079501,13.0365756 12.7449115,13.0365756 12.8906763,12.8902731 C13.0364412,12.7439705 13.0364412,12.506135 12.8906763,12.3598324" id="Loupe"></path></g></g></svg>');
  background-position-x: .7rem;
  background-size: 1em; }
  .search:focus {
    background-color: #fff; }

.textarea, .input, .select, .search {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0.4em 1em;
  font-size: inherit;
  line-height: 1.8em;
  background: #fff none no-repeat calc(100% - .7em) center;
  background-size: 1em;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  transition: background .2s ease-out, border .2s ease-out;
  -webkit-appearance: none;
          appearance: none; }
  .textarea::placeholder, .input::placeholder, .select::placeholder, .search::placeholder {
    color: rgba(0, 0, 0, 0.4);
    opacity: 1; }
  [disabled].textarea, [disabled].input, [disabled].select, [disabled].search, .is-disabled.textarea, .is-disabled.input, .is-disabled.select, .is-disabled.search {
    pointer-events: none;
    opacity: 0.3; }
~~~
<% end %>
