---
title: mars-btn-close
layout: documentation
active: Components, mars-btn-close
example: components/btn-close
---

# mars-btn-close

The component serves to close the containers or forms, this element is always found in elements of the container type.

since
: 1.0.0

<%= source %>


## Exemples

<% example_tabs do %>
<%= file_example_scss %>
<%= file_example_dist %>
<% end %>


### Alert btn-close

<% example_html do %>
<div class="alert is-dismissible">
  <h4>This is an alert sample!</h4>
  You can add <a href="#">links</a> or texts with <strong>format</strong>
  <button class="btn-close"></button>
</div>
<% end %>