@mixin mars-build-grid-container {
  @include msg-css("🚀 mars-build-grid-container");

  %container {
    @include make-container;
  }

  .container {
    @extend %container;
    @include make-container-max-widths();
  }

  @each $breakpoint , $container-max-width in $container-max-widths {
    .container-#{$breakpoint} {
      @extend %container;
      max-width: $container-max-width;
    }
  }
}

@mixin mars-build-grid-row {
  @include msg-css("🚀 mars-build-grid-row");

  .row {
    @include make-row();
  }

  // Remove the negative margin from default .row, then the horizontal padding
  // from all immediate children columns (to prevent runaway style inheritance).

  .no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@mixin mars-build-grid-columns {
  @include msg-css("🚀 mars-build-grid-columns");
  @include make-grid-columns();
}

@mixin mars-build-grid(){
  @include msg-css("🚀 mars-build-grid");
  @include mars-build-grid-container;
  @include mars-build-grid-row;
  @include mars-build-grid-columns;
}
