body {
  background-color: $black;
}

.html-content {
  @extend %raw-html-styles;
}

.wrapper {
  @include media-breakpoint-down('md') {
    padding-top: $header-height;
  }
}

.main-content {
  background-color: $white;
}
