@import '../../../index';
$mars-debug: true;

/* --- e-1 */
$mainTitle: (
  '.main-title' : (
    color: $black,
    font-size: $font-size-h1
  )
);

@include style($mainTitle);

/* --- e-2 */
$mainTitleHover: (
  '.main-title' : (
    color: false,
    text-decoration: underline,
    '&:hover': (
      color: $red
    )
  )
);

@include style($mainTitle, $mainTitleHover);

/* --- e-3 */
@include style($mainTitleHover, $mainTitle);

/* --- e-4 */
$titleBig: (
  '&' : (
    color: $black,
    text-decoration: false,
    font-size: $font-size-h1
  )
);

.outside {
  @include style($titleBig);
}

/* --- e-5 */
$titleBigHover: rule(
  '&',
  text-decoration(underline),
  font-size($font-size-h1),
  rule('&:hover', color($red))
);

.withRule {
  @include style($titleBig,$titleBigHover);
}

/* --- */
