@function hamburger(
  $size: 1em,
  $bar-height: 2px,
  $active: '&.is-active'
) {
  @return (
    '&': (
      position: relative,
      display: block,
      width: calc(#{$size} + #{$bar-height}),
      height: $bar-height,
      margin-top: calc(#{($size/2)} - #{$bar-height/2}),
      margin-bottom: calc(#{($size/2)} - #{$bar-height/2}),
      background-color: currentColor,
      transition: all .3s ease-out
    ),
    '&::after, &::before': (
      position: absolute,
      display: block,
      width: 100%,
      height: $bar-height,
      content: '',
      background-color: currentColor,
      transition: transform .3s ease-out .2s
    ),
    '&::before': (
      top: calc(#{-($size/2)} + #{$bar-height/2}),
      transform-origin: calc(100% + #{$bar-height/2}) top
    ),
    '&::after': (
      bottom: calc(#{-($size/2)} + #{$bar-height/2}),
      transform-origin: calc(100% + #{$bar-height/2}) bottom
    ),
    '#{$active}': (
      background-color: transparent,
      transition-delay: .2s,
      '&::before' : (
        transition-delay: 0,
        transform: translateY(25%) translateX(0) rotate(-45deg),
      ),
      '&::after': (
        transition-delay: 0,
        transform: translateY(-25%) translateX(0) rotate(45deg),
      )
    )
  );
}
