@mixin mars-build-flex-columns($breakpoints: $grid-breakpoints) {
  @include log("🚀 mars-build-flex-columns");

  %column {
    @include make-flex-column;
  }

  %columns {
    margin-right: $grid-gutter-width / -2;
    margin-left: $grid-gutter-width / -2;
  }

  .column {
    @extend %column;
  }

  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    .columns-#{$breakpoint} {
      @extend %columns;
      @include media-breakpoint-up($breakpoint, $breakpoints) {
        display: flex;
      }
    }
  }
}
