//http://marscss.com/documentation/builders/mars-build-helpers/
//stylelint-disable declaration-no-important
//stylelint-disable rule-empty-line-before
//stylelint-disableblock-opening-brace-space-before
@mixin mars-build-helpers(
  $prefix-align: 'align-',
  $prefix-bg: 'bg-',
  $prefix-border: 'border',
  $prefix-color: 'color-',
  $prefix-display: '',
  $prefix-fs: 'fs-',
  $prefix-pull: 'pull-',
  $prefix-ratio: 'ratio-',
  $prefix-text: 'text-',
  $prefix-utilities: '',
  $colors: $colors,
  $border-colors: $colors
){

  @include mars-build-helpers-align($prefix-align);
  @include mars-build-helpers-bg($prefix-bg, $colors);
  @include mars-build-helpers-border($prefix-border, $border-colors);
  @include mars-build-helpers-color($prefix-color, $colors);
  @include mars-build-helpers-display($prefix-display);
  @include mars-build-helpers-fs($prefix-fs);
  @include mars-build-helpers-pull($prefix-pull);
  @include mars-build-helpers-ratio($prefix-ratio);
  @include mars-build-helpers-text($prefix-text);
  @include mars-build-helpers-utilities($prefix-utilities);
}

//http://marscss.com/documentation/builders/mars-build-helpers/#mars-build-helpers-align
@mixin mars-build-helpers-align($prefix: 'align-'){
  @include log('🚀 mars-build-helpers-align');

  .#{$prefix}baseline    { @include align-baseline; }
  .#{$prefix}top         { @include align-top; }
  .#{$prefix}middle      { @include align-middle; }
  .#{$prefix}bottom      { @include align-bottom; }
  .#{$prefix}text-bottom { @include align-text-bottom; }
  .#{$prefix}text-top    { @include align-text-top; }
}

//http://marscss.com/documentation/builders/mars-build-helpers/#mars-build-helpers-bg
@mixin mars-build-helpers-bg($prefix: 'bg-', $colors: $colors){
  @include log('🚀 mars-build-helpers-bg');

  @each $color in $colors {
    .#{$prefix}#{nth($color, 1)} {
      @include bg(nth($color, 2));
    }
  }
  .#{$prefix}transparent { @include bg-transparent; }
}

//http://marscss.com/documentation/builders/mars-build-helpers/#mars-build-helpers-border
@mixin mars-build-helpers-border($prefix: 'border', $border-colors: $colors){
  @include log('🚀 mars-build-helpers-border');

  .#{$prefix}             { @include border; }
  .#{$prefix}-0           { @include border-0; }
  .#{$prefix}-top         { @include border-top; }
  .#{$prefix}-right       { @include border-right; }
  .#{$prefix}-bottom      { @include border-bottom; }
  .#{$prefix}-left        { @include border-left; }
  .#{$prefix}-color       { @include border-color($border-colors); }
}

//http://marscss.com/documentation/builders/mars-build-helpers/#mars-build-helpers-color
@mixin mars-build-helpers-color($prefix: 'color-', $colors: $colors){
  @include log('🚀 mars-build-helpers-colors');

  @each $color in $colors {
    .#{$prefix}#{nth($color, 1)} {
      @include color(nth($color, 2));
    }
  }
}

//http://marscss.com/documentation/builders/mars-build-helpers/#mars-build-helpers-display
@mixin mars-build-helpers-display($prefix: ''){
  @include log('🚀 mars-build-helpers-display');

  .#{$prefix}block         { @include block; }
  .#{$prefix}flex          { @include flex; }
  .#{$prefix}inline        { @include inline; }
  .#{$prefix}inline-block  { @include inline-block; }
}

//http://marscss.com/documentation/builders/mars-build-helpers/#mars-build-helpers-fs
@mixin mars-build-helpers-fs($prefix: 'fs-'){
  @include log('🚀 mars-build-helpers-fs');

  .#{$prefix}hero         { @include fs-hero; }
  .#{$prefix}h1            { @include fs-h1; }
  .#{$prefix}h2            { @include fs-h2; }
  .#{$prefix}h3            { @include fs-h3; }
  .#{$prefix}h4            { @include fs-h4; }
  .#{$prefix}h5            { @include fs-h5; }
  .#{$prefix}h6            { @include fs-h6; }
  .#{$prefix}large        { @include fs-large; }
  .#{$prefix}small        { @include fs-small; }
}

//http://marscss.com/documentation/builders/mars-build-helpers/#mars-build-helpers-pull
@mixin mars-build-helpers-pull($prefix: 'pull-') {
  @include log('🚀 mars-build-helpers-pull');

  .#{$prefix}left         { @include pull-left; }
  .#{$prefix}right        { @include pull-right; }
}

//http://marscss.com/documentation/builders/mars-build-helpers/#mars-build-helpers-ratio
@mixin mars-build-helpers-ratio($prefix: 'ratio-'){
  @include log('🚀 mars-build-helpers-ratio');

  %ratio {
    @include ratio;
  }

  .#{$prefix}16-9 {
    @extend %ratio;
    padding-top: percent-ratio(16, 9);
  }

  .#{$prefix}4-3 {
    @extend %ratio;
    padding-top: percent-ratio(4, 3);
  }

  .#{$prefix}1-1 {
    @extend %ratio;
    padding-top: percent-ratio(1, 1);
  }
}

//http://marscss.com/documentation/builders/mars-build-helpers/#mars-build-helpers-text
@mixin mars-build-helpers-text($prefix: 'text-'){
  @include log('🚀 mars-build-helpers-text');

  .#{$prefix}center           { @include text-center; }
  .#{$prefix}left             { @include text-left; }
  .#{$prefix}right            { @include text-right; }
  .#{$prefix}capitalize       { @include text-capitalize; }
  .#{$prefix}lowercase        { @include text-lowercase; }
  .#{$prefix}uppercase        { @include text-uppercase; }
  .#{$prefix}upper-first      { @include text-upper-first; }
  .#{$prefix}hide             { @include text-hide; }
  .#{$prefix}nowrapp          { @include text-nowrapp; }
  .#{$prefix}truncate         { @include text-truncate; }
}

//http://marscss.com/documentation/builders/mars-build-helpers/#mars-build-helpers-utilities
@mixin mars-build-helpers-utilities($prefix: ''){
  @include log('🚀 mars-build-helpers-utilities');

  .#{$prefix}clear            { @include clear; }
  .#{$prefix}focus            { @include focus; }
  .#{$prefix}is-hidden        { @include is-hidden; }
  .#{$prefix}last-margin-0    { @include last-margin-0; }
  .#{$prefix}sr-only          { @include sr-only; }
}
