---
title: Api of marscss
body: api
active: api
---

<%

require 'yaml'

# build all documentation
apiData = []

data.api.api.each do |item|
  apiData += YAML::load(File.open(item.yml)).each {|e| e['file'] = item.file}
end

varsData = File
  .open("#{config.marscss_path}/core/_default-variables.scss",'rb')
  .read
  .force_encoding("UTF-8")
  .scan(/(\$[^:]+):([^;]+);/m)
  .map {|item| {'name' => item[0],'value' => item[1], 'type' => 'variable', 'file' => 'core/_default-variables.scss' } }

apiData += varsData

apiData.each {|e| e['type'] ||= 'block' }
%>

<div class="wrapper">
  <div class="api-sidebar">
    <%= partial 'partials/sidebar-menu' %>
  </div>
  <div class="api-content">
    <h1 class="text-center">API</h1>
    <div class="api-search">
      <input type="text" class="input" placeholder="search by name">
    </div>
    <div class="container-table">
      <table class="table-collapse">
        <thead>
          <tr>
            <th class="cell-type">
              Type
            </th>
            <th class="cell-name">
              <label class="checkbox">
                Name
                <input type="checkbox" data-target=".search-by-name" data-placeholder="name" checked>
              </label>
            </th>
            <th class="cell-file">
              <label class="checkbox">
                marscss file
                <input type="checkbox" data-target=".search-by-file" data-placeholder="file">
              </label>
            </th>
          </tr>
        </thead>
        <tbody>
        <%= partial 'partials/api-item', locals:{
          data: apiData.sort_by {|e| [e['type'], e['name']] }
        } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
