---
title: Welcome to marscss
body: home
active: home
---

<div class="hero">
	<div class="hero__background">
		<div class="hero__container">
			<h1 class="hero__title">mars<strong>css</strong></h1>
			<p class="hero__text">
				The framework for front-end, from 0 KB
			</p>
		</div>
	</div>
</div>
<div class="column-block">
	<div class="column-block__container columns-xs">
		<div class="column-block__content">
		</div>
		<div class="column-block__content">
			<h2>Why is the marscss framework different?</h2>

			<p>Unlike other CSS frameworks it works through mixins and not with rules, which allows us to have access to an infinite number of possibilities without adding a line to CSS file</p>

      <p>Although there are mechanisms to generate css such as builders or components, their potential lies in that they in turn work generating code from mixins with what can be rewritten.</p>
		</div>
		<div class="column-block__content">
      <% markdown do %>
      ##How to use?

      Install the dependency

      ~~~shell
      npm i @marsbased/marscss --save
      ~~~~

      Use it from your main scss file:

      ~~~scss
      @import 'node_modules/marscss/marscss';
      ~~~

      Alternatively, if you are using a bundler you probably can use a shortcut like:

      ~~~scss
      @import '~marscss/marscss';
      ~~~
			<% end %>
		</div>
	</div>
</div>
