---
title: Welcome to marscss
body: home
active: home
---

<div class="hero">
	<div class="hero__background">
		<div class="hero__container">
			<h1 class="hero__title">mars<strong>css</strong></h1>
			<p class="hero__text">
				The framework for front-end, from 0 KB
			</p>
		</div>
	</div>
</div>
<div class="block">
	<div class="block__container columns-xs">
		<div class="block__content">
			
		</div>
		<div class="block__content">
			<h2>Why is the marscss framework different?</h2>

			<p>Unlike other CSS frameworks it works through mixins and not with rules, which allows us to have access to an infinite number of possibilities without adding a line to CSS</p>

      <p>Although there are mechanisms to generate css such as builders or components, their potential lies in that they in turn work generating code from mixins with what can be rewritten.</p>
		</div>
		<div class="block__content">
      <% markdown do %>
      ~~~scss
      // MARSCSS CORE
      @import "../../marscss/marscss";

      // CUSTOM VARIABLES
      @import "utilities/variables";

      // CUSTOM CORE

      // MARSCSS BUILDERS
      @include mars-build-reset;

      // WEB STYLES
      ~~~
			<% end %>
		</div>
	</div>
</div>
