---
title: test
layout: documentation
---

<div class="reset-all">
  <h1>Example</h1>
  <button>text</button>
  <h2 reset data-reset>Example 2</h2>
  <p>
  aut est illum in rem <a href="#">doloremque</a> quia sed repellendus corporis
  </p>

  <ul>
    <li>text</li>
    <li>text</li>
    <li>text</li>
    <li>text</li>
    <li>text</li>
  </ul>

</div>