---
title: mars-search
layout: documentation
active: Components, mars-search
---

# mars-search

This component is added to an input to give it the appearance of a search field, to generate the icon it works with svg in base 64 which allows us to overwrite the color of that icon.

since
: 1.0.0

extend
: `%form-element`

arguments
: `$bg: $gray-300` *(color)*: background color
: `$color: $gray-800` *(color)* : icon color

<%#= source %>


## Exemples

<%# example_tabs do %>
<%#= file_example_scss %>
<%#= file_example_dist %>
<%# end %>



### Search

<% example_html do %>
<div class="container-20em">
  <p>
    <input class="search" id="search" name="s">
  </p>
  <p>
    <input class="search" id="search" name="s" placeholder="search...">
  </p>
</div>
<% end %>
