---
title: mars-badge
layout: documentation
active: Components, mars-badge
---

# mars-badge

Component to make badge and count

since
: 1.0.0

## Build Component

<%# example_tabs do %>
<%#= file_example_scss %>
<%#= file_example_dist %>
<%# end %>


## Examples

<% example_html do %>
<h1>Heading h1 with <span class="badge-primary">badge</span></h1>
<h2>Heading h2 with <span class="badge-primary">badge</span></h2>
<h3>Heading h3 with <span class="badge-primary">badge</span></h3>
<h4>Heading h4 with <span class="badge-primary">badge</span></h4>
<h5>Heading h5 with <span class="badge-primary">badge</span></h5>
<h6>Heading h6 with <span class="badge-primary">badge</span></h6>
<% end %>


### Custom variations

To generate multiple variations you can use the generic @mixin <%= link_to 'mars-build-components','documentation/builders/mars-build-components' %>, visit the page on the builder to better understand how it works and arguments.

<% example_html do %>
<span class="badge">Badge</span>
<span class="badge-primary">Primary</span>
<span class="badge-success">Success</span>
<span class="badge-warning">Warning</span>
<% end %>


### Notificatión badge

You can use badge inside other components like <%= link_to 'buttons', 'documentation/buttons' %>

<% example_html do %>
<button class="btn-default">Notifications</button>
<button class="btn-default">Notifications <span class="badge">4</span></button>
<button class="btn-primary">Notifications <span class="badge">4</span></button>
<% end %>


### Create new variations

We can extend to generate new types of badge using the same stylized elements

<% example_html do %>
<span class="badge-pill">Badge</span>
<span class="badge-pill-primary">Primary</span>
<span class="badge-pill-success">Success</span>
<span class="badge-pill-warning">Warning</span>
<% end %>
