@mixin button($padding: .4em 1em, $border: 0, $border-radius: 5px) {
  padding: $padding;
  cursor: pointer;
  border: $border;
  border-radius: $border-radius;
  transition: color .2s ease-out, background-color .2s ease-out;
}

@mixin button-active {
  &:active,
  &:hover,
  &:focus,
  &.is-active {
    @content;
  }
}

@mixin button-theme($button, $default: $button-default) {

  $button: map-merge-recursive($default, $button);

  @include properties(map-get($button, 'base'));

  @include button-active {
    @include properties(map-get($button, 'active'));
  }
}
