@function help($map: false) {
  @if ($map) {
    @if (type-of($map ) == 'map') {
      $type: map-get($map, 'meta-type');
      @if $type == 'builder' {
        @return text-map-builder($map);
      } @else if $type == 'selector' {
        @return text-map-selector($map);
      } @else if $type == 'composer' {
        @return text-map-composer($map);
      } @else if $type == 'modifier' {
        @return text-map-composer($map);
      } @else {
        @return '#{$map} don\'t have type';
      }
    } @else {
      @return '#{$map} is not map';
    }
  } @else {
    @return text-help();
  }
}

@function text-help() {
  @return '\A\A marscss
    \D -------------------- \A

    \D http://marscss.com/documentation/\A\A';
}

@function text-map-builder($map) {
  $type: map-get($map, 'meta-type');
  $name: map-get($map, 'meta-name');
  $description: map-get($map, 'meta-description');

  $mapWithoutMeta: ();

  @each $key, $value in $map {
    @if not str-index($key, 'meta-') {
      $mapWithoutMeta: map-merge($mapWithoutMeta, ($key: $value));
    }
  }

  $m: '\A\A#{$name}
    \D --------------------
    \D TYPE: \A#{$type}\A
    \D DESCRIPTION:\A#{$description}\A
    \A RULES:\A #{map-keys($mapWithoutMeta)}\A
    -------------------- \A';

  @return $m;
}

@function text-map-composer($map) {
  $type: map-get($map, 'meta-type');
  $name: map-get($map, 'meta-name');
  $description: map-get($map, 'meta-description');
  $modifers: map-get($map, 'meta-modifiers');

  $m: '\A\A#{$name}
    \D --------------------
    \D TYPE: #{$type}\A
    \D DESCRIPTION: #{$description}\A
    \D MODIFERS: #{$modifers}
    \D --------------------';

  @return $m;
}

@function text-map-modifier($map) {
  $type: map-get($map, 'meta-type');
  $name: map-get($map, 'meta-name');
  $description: map-get($map, 'meta-description');
  $modifers: map-get($map, 'meta-modifiers');

  $m: '\A\A#{$name}
    \D --------------------
    \D TYPE: #{$type}\A
    \D DESCRIPTION: #{$description}\A
    \D MODIFERS: #{$modifers}
    \D --------------------';

  @return $m;
}

@function text-map-selector($map) {
  $type: map-get($map, 'meta-type');
  $name: map-get($map, 'meta-name');

  $clearSelector: ();

  $m: '\A\A#{$name}
    \D --------------------
    \D TYPE: #{$type}\A
    \D SELECTOR:
    -------------------- \A';

  @return $m;
}
