//stylelint-disable declaration-no-important
//stylelint-disable rule-empty-line-before
//stylelint-disable block-opening-brace-space-before
//align
@mixin align-middle       { vertical-align: middle !important; }
@mixin align-baseline     { vertical-align: baseline !important; }
@mixin align-top          { vertical-align: top !important; }
@mixin align-middle       { vertical-align: middle !important; }
@mixin align-bottom       { vertical-align: bottom !important; }
@mixin align-text-bottom  { vertical-align: text-bottom !important; }
@mixin align-text-top     { vertical-align: text-top !important; }

//fs
@mixin fs-hero            { font-size: $font-size-hero !important; }
@mixin fs-h1              { font-size: $font-size-h1 !important; }
@mixin fs-h2              { font-size: $font-size-h2 !important; }
@mixin fs-h3              { font-size: $font-size-h3 !important; }
@mixin fs-h4              { font-size: $font-size-h4 !important; }
@mixin fs-h5              { font-size: $font-size-h5 !important; }
@mixin fs-h6              { font-size: $font-size-h6 !important; }
@mixin fs-large           { font-size: $font-size-large !important; }
@mixin fs-small           { font-size: $font-size-small !important; }

//bg
@mixin bg($bg, $text: false){
  background-color: $bg !important;
  @if $text{
    color: $text;
  }
}
@mixin bg-transparent     { background-color: transparent !important; }

//border
@mixin border             { border: 1px solid !important; }
@mixin border-0           { border: 0 !important; }
@mixin border-top         { border-top: 1px solid !important; }
@mixin border-right       { border-right: 1px solid !important; }
@mixin border-bottom      { border-bottom: 1px solid !important; }
@mixin border-left        { border-left: 1px solid !important; }
@mixin border-color {
  @each $color in $colors {
    &-#{nth($color, 1)} {
      border-color: nth($color, 2) !important;
    }
  }
}

//color
@mixin color($color)      { color: $color !important; }

//pull
@mixin pull-right           { float: right !important; }
@mixin pull-left            { float: left !important; }

//ratio
@mixin ratio($padding: false){
  position: relative;
  @if ($padding != false){
    padding-top: $padding;
  }
  overflow: hidden;

  > *{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  > img {
    object-fit: cover;
    //ie11 and edge modernizr.objectfit
    background-size: cover;
  }
}

//text
@mixin text-center          { text-align: center; }
@mixin text-left            { text-align: left; }
@mixin text-right           { text-align: right; }
@mixin text-capitalize      { text-transform: capitalize !important; }
@mixin text-lowercase       { text-transform: lowercase !important; }
@mixin text-uppercase       { text-transform: uppercase !important; }
@mixin text-upper-first {
  &::first-letter{
    text-transform: capitalize !important;
  }
}
@mixin text-nowrapp         { white-space: nowrap; }
@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin text-hide() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// utilities
@mixin clear { clear: both !important; }
@mixin focus ($color: $gray-100, $opacity: .4) {
  outline: none;
  box-shadow: 0 0 4px rgba($color, $opacity);
}
@mixin is-hidden { display: none; }
@mixin last-margin-0 {
  > *:last-child {
    margin-bottom: 0;
  }
}
@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
