.column-block {
  &__container {
    //padding-top: $gutter;
    //padding-bottom: $gutter;
    @extend %container;
    @include media-breakpoint-up('sm') {
      display: flex;
    }
  }

  &__content {
    @extend %grid-column;
    flex: 1 1 0;
    padding: $gutter;

    &:not(:first-of-type) {
      border-left: 1px solid $gray-200;
    }

    h2 {
      @extend %h3;
    }

    p {
      @extend %p;
    }
  }
}
