.header {
  color: $white;
  background-color: $black;

  &__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__hamburger {
    padding: $gutter/2 $gutter;
    outline: 0;
    @include media-breakpoint-up('lg') {
      display: none;
    }
  }

  &__logo {
    padding-right: $gutter/2;
    padding-left: $gutter/2;
    @extend %reset-link;

    svg {
      display: block;
      width: 12rem;
      height: 3rem;
    }
  }

  &__menu {
    display: flex;

    a {
      display: block;
      width: 5rem + $gutter;
      height: 5rem;
      padding: $gutter/4 $gutter/2;
      color: inherit;
      background-color: transparent;
      transition: background-color .3s ease-out;

      &:hover,
      &:focus {
        color: inherit;
        background-color: rgba($white, .3);
      }

      &.is-active {
        background-color: rgba($white, .15);
      }

      svg {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  @include media-breakpoint-down('md') {
    & {
      position: fixed;
      top: 0;
      z-index: 10;
      width: 100%;
    }

    .btn-home,
    .btn-doc {
      display: none;
    }
  }
}

.icon-hamburger {
  @include style(hamburger());
}
