.hero {
  height: calc(100vh - #{$header-height});

  &__container {
    position: relative;
    z-index: 1;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: inherit;
    text-align: center;
  }

  &__title {
    width: 100%;
    font-size: 8vw;
  }

  &__text {
    width: 100%;
    font-size: 4vw;
  }

  &__background {
    width: 100%;
    height: inherit;
  }
}
