.hero-block {
  &__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: inherit;
    padding: 0;
    margin: auto;
    @include media-breakpoint-up('sm') {
      padding: $gutter*2 $gutter;
    }
    @include media-breakpoint-up('md') {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
    }
  }

  &__column {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: $gutter;
    @include media-breakpoint-up('md') {
      flex: 1 1 0;
    }

    &.is-first {
      @include media-breakpoint-down('sm') {
        order: -1;
      }
    }
  }

  &__center {
    max-width: 500px;
  }

  &__title {
    @extend %hero;
  }

  &__text {
    font-size: $font-size-large;
  }

  &__content {
    @extend %h3;
    line-height: 1.4;
    font-weight: 700;
  }

  h2 {
    margin-top: 2rem;
  }
}
