%icon-type {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 1.5em;
  color: $white;
  text-align: center;
  border-radius: 3px;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: .1em;
    font-family: $font-family-code;
    font-size: .6em;
    font-weight: 700;
    transform: translate(-50%, -50%);
  }
}

.icon-type {
  @each $type, $values in $types {
    &-#{$type} {
      @extend %icon-type;
      background-color: nth($values, 1);
      border: 1px solid $darkened;

      &::after {
        text-shadow: 0 0 2px rgba($black, .3);
        font-style: initial;
        content: nth($values, 2);
      }
    }
  }
}
