.sidebar-menu {
  @extend %reset;
  @extend %reset-all;
  position: sticky;
  top: 0;
  z-index: 1;
  max-height: 100vh;
  overflow-y: auto;
  color: $white;

  a {
    display: block;
    padding: .5em;
    color: inherit;
  }

  li {
    position: relative;
    margin-bottom: 0;
    transition: background-color .5s ease-out;

    a {
      padding-left: 2rem;
    }

    > & a {
      font-weight: 800;
    }
  }

  > ul {
    li.is-active {
      background-color: $darkened;
    }

    a:hover,
    a:focus {
      background-color: $darkened;
    }
  }

  > li {
    font-weight: 700;
    border-top: 1px solid $darkened;
    border-bottom: 1px solid $darkened;

    a {
      position: relative;
      padding-right: 2em;
      padding-left: 1em;


      &::after {
        position: absolute;
        right: .5em;
        top: 50%;
        display: inline-block;
        line-height: 1.5em;
        vertical-align: middle;
        content: '';
        border: .4em solid transparent;
        border-top-color: rgba($white, .5);
      }

      &:hover::after {
        border-top-color: rgba($white, 1);
      }
    }

    &.is-active {
      font-weight: 700;

      a::after {
        content: initial;
      }

      & + ul {
        background-color: $darkened;
      }
    }
  }

  .api-buttons {
    background-color: $darkened;
  }

  button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: initial;
    width: 100%;
    padding: .75em 1em;
    text-align: inherit;
    transition: opacity .3s ease-out;

    i {
      margin-right: .5em;
    }

    &:first-of-type {
      padding-top: 1.25em;
    }

    &:last-of-type {
      padding-bottom: 1.25em;
    }

    &:hover,
    &:focus:not(.is-active) {
      background-color: $darkened;

      &:not(.is-active) {
        opacity: .6;
      }
    }

    &:focus {
      outline: 0;
    }

    &:not(.is-active) {
      opacity: .4;
    }
  }
}
